<footer class=" text-white py-4">
    <div class="wrapper max-w-6xl mx-auto">
        <p class="text-sm text-center flex justify-center">
            &copy; {{ "now"|date('Y') }} BlendCraft Studios. All rights reserved.
        </p>
    </div>
</footer>

