<h1>Howdy Digital Agency</h1>
<ul>
    <li><a href="/services">Servicios</a></li>
    <li><a href="about/">Acerca de</a></li>
    <li><a href="/contact">Contacto</a></li>
    <li><a href="/404">Not found</a></li>
</ul>